html, body{
    height: 100%;
}

h3, h4, h5, h6, p, a{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    text-decoration: none;
}

::placeholder {
    color: hsl(140, 65%, 80%);
    opacity: 1;
}

:-ms-input-placeholder {
        color: hsl(140, 65%, 80%);
}

::-ms-input-placeholder {
    color: hsl(140, 65%, 80%);
}

/*HEADER*/

.bgHeader{
    position: relative;
}

.headerRow {
    width: 100%;
    position: absolute;
    padding: 12px 0;
}

.logoHeader {
    display: inline-block;
    width: 140px;
}

.navBar {
     display: flex;
     justify-content: flex-end;
}

.dropdown {
    display: inline;
    padding-top: 10px;
    vertical-align: center;
}

.dropbtn {
    font-family: 'Material Icons';
    font-size: 24px;  /* Preferred icon size */
    color: white;
    cursor: pointer;
    margin: 0 0 0 8px;
}

.dropdown p:hover, .dropdown p:focus {
    color: hsl(160,41%,54%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(162,73%,28%);
    min-width: 30%;
    box-shadow: 4px 4px 16px hsla(191, 96%, 16%, 0.32),
                4px 4px 8px hsla(191, 96%, 16%, 0.12);
    z-index: 2;
    right: 15px;
    top: 44px;
}

.dropdown-content a{
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: hsl(160,41%,54%);
}

.searchBar {
    display: none;
    z-index: 1;
}

.searchBar input{
    color: white;
    background-color: hsl(160,41%,54%);
    padding: 12px 20px;
    border: none;
    width: 100%;
    display: block;
    box-shadow: 4px 4px 16px hsla(191, 96%, 16%, 0.32),
    4px 4px 8px hsla(191, 96%, 16%, 0.12);
}

.show{
    display: inline-block;
}

/*MAIN*/

main {
    background-color: hsl(0, 0%, 96%);
    height: 100%
}

.bgHero{
    background-image: url(../img/heroImg.jpg);
    background-size: cover;
    background-position-x: 75%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100vw;
    padding: 72px 15px 0 15px;
}

.sm-to-xl{
    position: relative;
}

.hero {
    justify-self: center;
    padding: 40px 15px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.hero h2 {
    text-align: center;
    margin-bottom: 12px;
    font-family:"Signika Negative", sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: 0px 4px 0px hsla(191, 96%, 16%,0.32);
}

.heroText {
    font-size: 16px;
    color: white;
    display: inline-block;
    line-height: 1.15em;
    text-shadow: 0px 2px 4px hsl(191, 96%, 12%);
    margin-bottom: 2.5em;
}

.ctaButton {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
    padding: 16px 20px;
    background-color: hsl(4, 80%, 59%);
    border-radius: 40px;
    box-shadow: 4px 4px 16px hsla(191, 96%, 16%, 0.32),
                4px 4px 8px hsla(191, 96%, 16%, 0.12);
    margin: 0 auto 16px auto;
    border: none;
}

.ctaButton:active{
    background-color: hsl(0, 75%, 46%);
}

.ctaButton p {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 4px 8px hsla(4, 80%, 16%, 0.4);
}

.ctaSecondButton {
    display: inline-block;
    padding: 8px 20px;
    border: solid hsl(43, 98%, 60%);
    border-radius: 40px;
    border-width: 2px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

.ctaSecondButton p{
    color: white;
    text-shadow: 0px 2px 4px hsl(191, 96%, 12%);

}

.projectSection{
    padding: 20px 12px;
}

.titleSection{
    font-size: 16px;
    font-weight: 700;
    color: hsl(191,75%,44%);
    margin-top: 20px;
}

.projectBox{
    display: flex;
    text-align: left;
    border-radius: 4px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 4px 4px 16px hsla(0, 0%, 0%, 0.08),
                4px 4px 4px hsla(0, 0%, 0%, 0.04);
    padding: 12px 0;
    margin-bottom: 16px;
    flex-direction: row;
}

.projectImg {
    border-radius: 2px;
    background-image: url(../img/project1Img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.projectBox h4{
    font-size: 16px;
    font-weight: bold;
    color: hsl(191, 96%, 24%);
    margin-bottom: 4px;
}

.projectBox h5{
    font-size: 10px;
    color: hsl(29, 96%, 44%);
    margin-bottom: 8px;
}

.projectBox h6{
    color: hsl(194, 73%, 55%);
    margin-bottom: 4px;
    text-transform: uppercase;
}
.projectBox p{
    color: hsl(191, 81%, 33%);
    margin-bottom: 8px;
}

.generalButton {
    width: 75%;
    display: block;
    padding: 16px 12px;
    background-color: hsl(4, 80%, 59%);
    border-radius: 40px;
    box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.16),
                4px 4px 4px hsla(0, 0%, 0%, 0.08);
    margin: 16px auto 8px auto;
    text-align: center;
}

.generalButton p{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
/*FOOTER*/

footer{
    background-color: hsl(191, 96%, 13%);
    padding: 20px 12px;
    position: relative;
}

.divider{
    height: 4px;
    width: 100%;
    background-color: hsl(43, 98%, 60%);
    position: absolute;
    top: -2px;
    left: 0;

}

.footerLogo {
    width: 100px;
}

footer nav{
    display: inline-block;
    vertical-align: center;
    position: absolute;
    right: 0;
    margin: 2.75px 12px 0 0;
}

footer li{
    display: inline-block;
}

footer li img{
    height: 24px;
    margin-left: 8px;
}

@media screen and (min-width: 576px) {
        .sm-to-xl{
        margin: 0 auto;
        max-width: 540px;
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) {
    .dropdown-content{
        min-width: 20%;
    }
    
    .bgHero{
        height: 40%;
        background-position-y:30% ;
    }
    
    .sm-to-xl{
        margin: 0 auto;
        max-width: 720px;
    }

    .hero{
        text-align: left;
        justify-content: left;
        width: 55%;
    }

    .hero h2{
        text-align: left;
    }

    .ctaButton{
        margin: 0 0 16px 0;
    }
    
}

@media screen and (min-width: 992px) {
    .dropdown-content{
        min-width: 15%;
    }
    
    .sm-to-xl{
        margin: 0 auto;
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .bgHero{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        background-position-y:40% ;
    }

    .sm-to-xl{
        
        margin: 0 auto;
        max-width: 1140px;
    }
}
