html, body{
    height: 100%;
}

h3, h4, h5, h6, p, a, li{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: normal;
    margin: 0;
}

::placeholder {
    color: hsl(140, 65%, 80%);
    opacity: 1;
}

:-ms-input-placeholder {
        color: hsl(140, 65%, 80%);
}

::-ms-input-placeholder {
    color: hsl(140, 65%, 80%);
}

/*HEADER*/

header {
    box-shadow: 4px 4px 16px hsla(0, 0%, 0%, 0.12);
}

.headerRow {
    padding: 12px 0;
}

.logoHeader {
    display: inline-block;
    width: 140px;
}

.navBar {
     display: flex;
     justify-content: flex-end;
}

.dropdown {
    display: inline;
    padding-top: 10px ;
    vertical-align: center;
}

.dropbtn {
    font-family: 'Material Icons';
    font-size: 24px;  /* Preferred icon size */
    color: hsl(191,75%,44%);
    cursor: pointer;
    margin: 0 0 0 8px;
}

.dropdown p:hover, .dropdown p:focus {
    color: hsl(191,96%,24%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(162,73%,28%);
    min-width: 30%;
    box-shadow: 4px 4px 16px hsla(191, 96%, 16%, 0.32),
                4px 4px 8px hsla(191, 96%, 16%, 0.12);
    z-index: 2;
    right: 0;
}

.dropdown-content a{
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: hsl(160,41%,54%);
}

.searchBar {
    display: none;
    z-index: 1;
}

.searchBar input{
    color: white;
    background-color: hsl(160,41%,54%);
    padding: 12px 20px;
    border: none;
    width: 100%;
    display: block;
    box-shadow: 4px 4px 16px hsla(191, 96%, 16%, 0.32),
    4px 4px 8px hsla(191, 96%, 16%, 0.12);
}

.show{
    display: inline-block;
}

/*MAIN*/

main {
    background-color: hsl(0, 0%, 96%);
}

.navMenu {
    min-height: 0;
}

.breadcrumb{
    background-color: hsl(0, 0%, 99%);
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    padding: .5em 15px;
    box-shadow: 0 2px 12px hsla(0, 0%, 0%, 0.04);
}

.breadcrumb-item a{
    color: hsl(191,0%,75%);
}

.breadcrumb-item.active{
    vertical-align: center;
    font-weight: bold;
    color: hsl(191,75%,44%);
}

.breadcrumb-item.active::before{
    color: hsl(191,0%,75%);
}


.projectBg {
    background-image: url(../img/project1Img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.iframeResize {
    overflow: hidden;
    padding-top: 158%;
    position: relative;
}
   
.iframeResize iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.verticalDir {
    flex-direction: column;
}

.titleSectionBlue{
    font-size: 16px;
    font-weight: 700;
    color: hsl(191,75%,44%);
    margin-top: 20px;
    margin-bottom: .5em;
}

.titleSectionGreen{
    font-size: 16px;
    font-weight: 700;
    color: hsl(162,73%,28%);
    margin-bottom: .5em;
    text-align: center;
}

.titleSectionOrange{
    font-size: 16px;
    font-weight: 700;
    color: hsl(18,96%,24%);
    margin-bottom: .5em;
    text-align: center;
}

.dividerGreen{
    height: 1px;
    width: 100%;
    background-color: hsl(144,54%,70%);
    margin-bottom: .5em;
}

.dividerOrange{
    height: 1px;
    width: 100%;
    background-color: hsl(11,98%,77%);
    margin-bottom: .5em;
}

.titleBlue{
    text-transform: uppercase;
    color: hsl(194,96%,71%);
    margin-bottom: 8px;
}

.titleGreen{
    text-transform: uppercase;
    color: hsl(160,41%,54%);
    margin-bottom: 8px;
}

.titleOrange{
    text-transform: uppercase;
    color: hsl(4,80%,59%);
    margin-bottom: 8px;
}

.bodyBlue{
    color: hsl(191,75%,44%);
    margin-bottom: 16px;
}

.bodyGreen{
    color: hsl(162,53%,39%);
    margin-bottom: 16px;
}

.bodyOrange{
    color: hsl(29,95%,44%);
    margin-bottom: 16px;
}

.center {
    align-self: center;
}

.bgGreen{
    background-color: hsl(140, 65%, 80%);
    border-radius: 8px;
    padding-top: 12px;
    margin: 12px 0;
}

.bgOrange{
    background-color: hsl(22, 94%, 81%);
    border-radius: 8px;
    padding-top: 12px;
    margin: 12px 0;
}

.generalButton {
    width: 75%;
    display: block;
    padding: 16px 12px;
    background-color: hsl(4, 80%, 59%);
    border-radius: 40px;
    box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.16),
                4px 4px 4px hsla(0, 0%, 0%, 0.08);
    margin: 16px auto 8px auto;
    text-align: center;
}

.generalButton p{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
/*FOOTER*/

footer{
    background-color: hsl(191, 96%, 24%);
    padding: 20px 12px;
    position: relative;
    bottom: 0;
}

.divider{
    height: 4px;
    width: 100%;
    background-color: hsl(43, 98%, 60%);
    position: absolute;
    top: -2px;
    left: 0;
}

.footerLogo {
    width: 100px;
}

footer nav{
    display: inline-block;
    vertical-align: center;
    position: absolute;
    right: 0;
    margin: 2.75px 12px 0 0;
}

footer li{
    display: inline-block;
}

.socialLogo{
    height: 24px;
    margin-left: 8px;
    width: 24px;
}