#project1{
    background-image: url(../img/projeto01-thumb.jpg);
}

#project2{
    background-image: url(../img/projeto02-thumb.jpg);
}

#project3{
    background-image: url(../img/projeto03-thumb.jpg);
}
